**项目背景：**

&nbsp;&nbsp;&nbsp;&nbsp;电商公司在双11进行了一次大促销

**此次分析的目标：**

&nbsp;&nbsp;&nbsp;&nbsp;评估每次促销活动的结果，并根据情况优化商品结构，以便让自己的商品卖的更好。

**分析流程：**
- 1、总体运营指标
- 2、从价格区间找出表现不好的产品，优化商品结构
- 3、从折扣区间来找出表现不好的产品，优化商品结构

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['font.sans-serif']=['SimHei'] #用来正常显示中文标签
plt.rcParams['axes.unicode_minus']=False #用来正常显示负号

**此次分析的目标：**

&nbsp;&nbsp;&nbsp;&nbsp;评估每次促销活动的结果，并根据情况优化商品结构，以便让自己的商品卖的更好。

##### 1、读取各部分数据集

In [2]:
import sqlalchemy
engine = sqlalchemy.create_engine('mysql+pymysql://****:******@localhost:3306/*********')

# 读取数据
# 商品信息表
sql_cmd = "select * from sales_info1"

# 执行sql语句，获取数据
dt1 = pd.read_sql(sql=sql_cmd, con=engine)

dt1.rename(columns={"sale_name":"商品名",
                    "sale_price":"售卖价",
                    "tag_price":"吊牌价",
                    "discout":"折扣率",
                    "stocks":"库存量",
                    "stocks_value":"货值",
                    "cost_price":"成本价",
                    "profit_rate":"利润率",
                    "skus":"SKU"},
          inplace=True)

dt1.head()

    商品名  售卖价   吊牌价       折扣率  库存量      货值  成本价       利润率  SKU
0  A001   15    70  0.214286  501   35070   14  0.066667    2
1  A002  236   610  0.386885  423  258030   75  0.682203    1
2  A003  473  1253  0.377494  415  519995  394  0.167019    1
3  A004  320   835  0.383234  624  521040  279  0.128125    2
4  A005   15    82  0.182927  179   14678   27 -0.800000    1

In [3]:
# 读取数据
# 商品热度表
sql_cmd = "select * from sales_info2"

# 执行sql语句，获取数据
dt2 = pd.read_sql(sql=sql_cmd, con=engine)

dt2.rename(columns={"sale_name":"商品名",
                    "uvs":"UV数",
                    "collections":"收藏数",
                    "carts":"加购物车数"},
          inplace=True)

dt2.head()

    商品名    UV数  收藏数  加购物车数
0  A001  10926   48    372
1  A002  13124   84    193
2  A003  25657   45    173
3  A004  20833    5    273
4  A005  19371   71    356

In [4]:
# 读取数据
# 用户销售明细表
sql_cmd = "select * from sales_info3"

# 执行sql语句，获取数据
dt3 = pd.read_sql(sql=sql_cmd, con=engine)

dt3.rename(columns={"user_id":"用户id",
                    "buy_date":"购买日期",
                    "sale_name":"商品名",
                    "buy_cons":"购买数量",
                    "buy_price":"购买单价",
                    "cost_price":"购买金额",
                    "is_tui":"是否退货",
                    "tui_cons":"退货件数",
                    "tui_price":"退货金额"},
          inplace=True)

dt3['是否退货']=dt3["是否退货"].map({"是":1,"否":0})
dt3.head()

  用户id      购买日期   商品名  购买数量   购买单价    购买金额  是否退货  退货件数   退货金额
0    1  20191111  F001     1  920.0   920.0   NaN     1  920.0
1    2  20191111  B007     2  548.0  1096.0   NaN     0    0.0
2    2  20191111  E007     1  930.0   930.0   NaN     1  930.0
3    3  20191111  A004     2  320.0   640.0   NaN     2  640.0
4    3  20191111  H007     2  750.0  1500.0   NaN     0    0.0

##### 2、合并商品信息表和商品热度表数据

In [5]:
# 把商品信息加上该商品的热度信息
# 得到基础的商品信息，以及商品的一些热度信息：加购物车数量，收藏数量、uv数
dt_product = dt1.merge(dt2,how="left",on="商品名")
dt_product.head()

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,收藏数,加购物车数
0,A001,15,70,0.214286,501,35070,14,0.066667,2,10926,48,372
1,A002,236,610,0.386885,423,258030,75,0.682203,1,13124,84,193
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,45,173
3,A004,320,835,0.383234,624,521040,279,0.128125,2,20833,5,273
4,A005,15,82,0.182927,179,14678,27,-0.800000,1,19371,71,356

##### 3、合并商品信息表和商品热度表数据和用户销售明细表

In [6]:
# 统计每个商品的一个销售情况

product_sales = dt3.groupby("商品名").agg({"购买数量":"sum",
                                                 "购买金额":"sum",
                                                 "退货件数":"sum",
                                                 "退货金额":"sum",
                                                 "购买单价":"mean",
                                                 "用户id":pd.Series.nunique}).reset_index()
product_sales.rename(columns={"购买数量":"商品销售数量",
                              "购买金额":"商品销售金额",
                              "是否退货":"商品退货数量",
                              "退货金额":"商品退货金额",
                              "购买单价":"商品销售单价",
                              "用户id":"购买用户数量"},inplace=True)
product_sales.head()

    商品名  商品销售数量   商品销售金额  退货件数   商品退货金额  商品销售单价  购买用户数量
0  A001     185   2775.0    59    885.0    15.0     116
1  A002     146  34456.0    31   7316.0   236.0      87
2  A003     144  68112.0    31  14663.0   473.0      94
3  A004     172  55040.0    56  17920.0   320.0     111
4  A005     122   1830.0    32    480.0    15.0      81

In [7]:
# 合并商品信息
dt_product_sales = dt_product.merge(product_sales,how="left",on="商品名")
dt_product_sales.head()

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,收藏数,加购物车数,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量
0,A001,15,70,0.214286,501,35070,14,0.066667,2,10926,48,372,185,2775.0,59,885.0,15.0,116
1,A002,236,610,0.386885,423,258030,75,0.682203,1,13124,84,193,146,34456.0,31,7316.0,236.0,87
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,45,173,144,68112.0,31,14663.0,473.0,94
3,A004,320,835,0.383234,624,521040,279,0.128125,2,20833,5,273,172,55040.0,56,17920.0,320.0,111
4,A005,15,82,0.182927,179,14678,27,-0.800000,1,19371,71,356,122,1830.0,32,480.0,15.0,81

#### 一、总体运营情况评价
总体运营部分，主要关注销售额、售卖比、UV、转化率等指标，其他指标作为辅助指标。销售额用来和预期目标做对比，售卖比用来看商品流转情况。

- GMV：销售额。
- 实销：GMV – 拒退金额。
- 销量：累计销售量（含拒退）。
- 客单价：GMV / 客户数，客单价与毛利率息息相关，一般客单价越高，毛利率越高。
- UV：商品所在页面的独立访问数。
- 转化率：客户数 / UV。
- 折扣率：GMV / 吊牌总额（吊牌总额 = 吊牌价 * 销量），在日常工作中，吊牌额是必不可少的。
- 备货值：吊牌价 * 库存数。
- 售卖比：又称售罄率，GMV / 备货值。
- 收藏数：收藏某款商品的用户数量。
- 加购数：加购物车人数。
- SKU数：促销活动中的SKU计数（一般指货号）。
- SPU数：促销活动中的SPU计数（一般指款号）。
- 拒退量：拒收和退货的总数量。
- 拒退额：拒收和退货的总金额。

In [8]:
#1、GMV：销售额，包含退货的金额
gmv = dt_product_sales["商品销售金额"].sum()
gmv

3747167.0

In [9]:
#2、实际销售额=GMV - 退货金额
return_sales = dt_product_sales["商品退货金额"].sum()
return_money = gmv - return_sales
return_money

2607587.0

In [10]:
#3、销量：累计销售量（含拒退）
all_sales = dt_product_sales["商品销售数量"].sum()
all_sales

12017

In [11]:
#4、客单价：GMV / 客户数，客单价与毛利率息息相关，一般客单价越高，毛利率越高。
# dt3.user_id.unique().count()

custom_price = gmv / dt_product_sales["购买用户数量"].sum()
custom_price

493.56783456269756

In [12]:
# 5、UV：商品所在页面的独立访问数
uv_cons = dt_product_sales["UV数"].sum()
uv_cons

1176103

In [13]:
# 6、转化率：客户数 / UV。
uv_rate = dt_product_sales["购买用户数量"].sum() / dt_product_sales["UV数"].sum()
uv_rate

0.006455216932530569

In [14]:
# 7、折扣率：GMV / 吊牌总额（吊牌总额 = 吊牌价 * 销量），在日常工作中，吊牌额是必不可少的。
tags_sales = np.sum(dt_product_sales["吊牌价"] * dt_product_sales["商品销售数量"])
discount_rate= gmv / tags_sales 
discount_rate

0.4179229541452886

In [15]:
# 8、备货值：吊牌价 * 库存数。
goods_value = dt_product_sales["货值"].sum()
goods_value

18916395

In [16]:
# 9、售卖比：又称售罄率，GMV / 备货值。
sales_rate = gmv / goods_value
sales_rate

0.19809096817866195

In [17]:
# 10、收藏数：收藏某款商品的用户数量。
coll_cons = dt_product_sales["收藏数"].sum()
coll_cons

6224

In [18]:
# 11、加购数：加购物车人数。
add_shop_cons = dt_product_sales["加购物车数"].sum()
add_shop_cons

18690

In [19]:
# 12、SKU数：促销活动中的最小品类单元（一般指货号）。
sku_cons = dt_product_sales["SKU"].sum()
sku_cons

125

In [20]:
# 13、SPU数：促销活动中的SPU计数（一般指款号）。
spu_cons = len(dt_product_sales["商品名"].unique())
spu_cons

80

In [21]:
# 14、拒退量：拒收和退货的总数量。退货件数
reject_cons = dt_product_sales["退货件数"].sum()
reject_cons

3643

In [22]:
# 15、拒退额：拒收和退货的总金额。
reject_money = dt_product_sales["商品退货金额"].sum()
reject_money

1139580.0

In [23]:
# 汇总统计
# 汇总统计
sales_state_dangqi = pd.DataFrame(
    {"GMV":[gmv,],"实际销售额":[return_money,],"销量":[all_sales,],"客单价":[custom_price,],
     "UV数":[uv_cons,],"UV转化率":[uv_rate,],"折扣率":[discount_rate,],"货值":[goods_value,],
     "售卖比":[sales_rate,],"收藏数":[coll_cons,],"加购数":[add_shop_cons,],"sku数":[sku_cons,],
     "spu数":[spu_cons,],"拒退量":[reject_cons,],"拒退额":[reject_money,],}, 
    ) #index=["今年双11",]

# 去年的数据是已经统计好了的，这里用来做展示，不需要计算（写死的内容）
sales_state_tongqi = pd.DataFrame(
    {"GMV":[2261093,],"实际销售额":[1464936.517,],"销量":[7654,],"客单价":[609.34567,],
     "UV数":[904694,],"UV转化率":[0.0053366,],"折扣率":[0.46,],"货值":[12610930,],
     "售卖比":[0.1161,],"收藏数":[4263,],"加购数":[15838,],"sku数":[82,],
     "spu数":[67,],"拒退量":[2000,],"拒退额":[651188.57,],}, 
    ) #index=["去年双11",]

#sales_state = pd.concat([sales_state_dangqi, sales_state_tangqi])
sales_state_dangqi_s = pd.DataFrame(sales_state_dangqi.stack()).reset_index().iloc[:,[1,2]]
sales_state_dangqi_s.columns = ["指标","今年双11"]
sales_state_tongqi_s = pd.DataFrame(sales_state_tongqi.stack()).reset_index().iloc[:,[1,2]]
sales_state_tongqi_s.columns = ["指标","去年双11"]
sales_state = pd.merge(sales_state_dangqi_s, sales_state_tongqi_s,on="指标")
sales_state["同比"] = (sales_state["今年双11"] - sales_state["去年双11"]) / sales_state["去年双11"]
sales_state

       指标         今年双11         去年双11        同比
0     GMV  3.747167e+06  2.261093e+06  0.657237
1   实际销售额  2.607587e+06  1.464937e+06  0.780000
2      销量  1.201700e+04  7.654000e+03  0.570029
3     客单价  4.935678e+02  6.093457e+02 -0.190004
4     UV数  1.176103e+06  9.046940e+05  0.300001
5   UV转化率  6.455217e-03  5.336600e-03  0.209612
6     折扣率  4.179230e-01  4.600000e-01 -0.091472
7      货值  1.891640e+07  1.261093e+07  0.500000
8     售卖比  1.980910e-01  1.161000e-01  0.706210
9     收藏数  6.224000e+03  4.263000e+03  0.460005
10    加购数  1.869000e+04  1.583800e+04  0.180073
11   sku数  1.250000e+02  8.200000e+01  0.524390
12   spu数  8.000000e+01  6.700000e+01  0.194030
13    拒退量  3.643000e+03  2.000000e+03  0.821500
14    拒退额  1.139580e+06  6.511886e+05  0.750000

#### 二、从价格区间来优化商品结构
我们需要做的是，深入探究不同区间的数据，以此来优化后期的促销结构。首先我们需要找到在本次促销中此区间的销售源数据，源数据要求显示具体的款号、销售额、销量等信息。第二步，计算出每个款的转化率、折扣率等数据。

查看指标：
- 销售额
- 销量
- 件单价
- 客户数
- UV
- 转换率
- 库存
- 货值
- 售卖比

In [24]:
# 划分价格区间段
#设置切分区域
listBins = [0,200, 400, 100000]

#设置切分后对应标签
listLabels = ['1_200','200_400','400及以上']

#利用pd.cut进行数据离散化切分，注意分组标签和分组数要一致
"""
pandas.cut(x,bins,right=True,labels=None,retbins=False,precision=3,include_lowest=False)
x:需要切分的数据
bins:切分区域
right : 是否包含右端点默认True，包含
labels:对应标签，用标记来代替返回的bins，若不在该序列中，则返回NaN
retbins:是否返回间距bins
precision:精度
include_lowest:是否包含左端点，默认False，不包含
"""
dt_product_sales['价格分组'] = pd.cut(dt_product_sales['售卖价'], bins=listBins, labels=listLabels, include_lowest=True)
dt_product_sales.head()

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,收藏数,加购物车数,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组
0,A001,15,70,0.214286,501,35070,14,0.066667,2,10926,48,372,185,2775.0,59,885.0,15.0,116,1_200
1,A002,236,610,0.386885,423,258030,75,0.682203,1,13124,84,193,146,34456.0,31,7316.0,236.0,87,200_400
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,45,173,144,68112.0,31,14663.0,473.0,94,400及以上
3,A004,320,835,0.383234,624,521040,279,0.128125,2,20833,5,273,172,55040.0,56,17920.0,320.0,111,200_400
4,A005,15,82,0.182927,179,14678,27,-0.800000,1,19371,71,356,122,1830.0,32,480.0,15.0,81,1_200

#### 价格区间销售情况统计
- 价格区间
- 货值
- 货值占比
- 销售额
- 售卖比
- 销售占比
- 销量
- 客单价
- UV
- 收藏数
- 加购数
- 转化率

In [25]:
# 货值占比、销售占比、客单价、转化率  后面求
dt_product_sales_info = dt_product_sales.groupby("价格分组").agg({
                                        "货值":"sum",
                                        "商品销售金额":"sum",
                                        "商品销售数量":"sum",
                                        "UV数":"sum",
                                        "购买用户数量":"sum",
                                        "收藏数":"sum",
                                        "加购物车数":"sum"
                                        }).reset_index()
dt_product_sales_info.head()

      价格分组       货值     商品销售金额  商品销售数量     UV数  购买用户数量   收藏数  加购物车数
0    1_200  1573146   339896.0    3615  369561    2280  1733   5324
1  200_400  8585973  1417702.0    4978  465547    3151  2608   8302
2   400及以上  8757276  1989569.0    3424  340995    2161  1883   5064

In [26]:
# 货值占比、销售占比、客单价、转化率
dt_product_sales_info["货值占比"]=dt_product_sales_info["货值"]/dt_product_sales_info["货值"].sum()
dt_product_sales_info["销售占比"]=dt_product_sales_info["商品销售金额"]/dt_product_sales_info["商品销售金额"].sum()
dt_product_sales_info["客单价"]=dt_product_sales_info["商品销售金额"]/dt_product_sales_info["购买用户数量"]
dt_product_sales_info["转化率"]=dt_product_sales_info["购买用户数量"]/dt_product_sales_info["UV数"]

dt_product_sales_info.head()

,价格分组,货值,商品销售金额,商品销售数量,UV数,购买用户数量,收藏数,加购物车数,货值占比,销售占比,客单价,转化率
0,1_200,1573146,339896.0,3615,369561,2280,1733,5324,0.083163,0.090707,149.077193,0.006169
1,200_400,8585973,1417702.0,4978,465547,3151,2608,8302,0.453891,0.378340,449.921295,0.006768
2,400及以上,8757276,1989569.0,3424,340995,2161,1883,5064,0.462946,0.530953,920.670523,0.006337

In [27]:
# 取出400及以上价格区间的数据内容
product_400 = dt_product_sales[dt_product_sales["价格分组"]=='400及以上']
product_400.head()

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,收藏数,加购物车数,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,45,173,144,68112.0,31,14663.0,473.0,94,400及以上
5,A006,428,1493,0.286674,264,394152,233,0.455607,1,5805,134,161,143,61204.0,46,19688.0,428.0,90,400及以上
10,B001,426,1121,0.380018,479,536959,311,0.269953,1,20448,6,242,158,67308.0,43,18318.0,426.0,101,400及以上
13,B004,491,1394,0.352224,396,552024,353,0.281059,2,14535,120,211,160,78560.0,47,23077.0,491.0,102,400及以上
15,B006,484,1467,0.329925,296,434232,398,0.177686,2,3733,115,285,141,68244.0,48,23232.0,484.0,91,400及以上

##### 计算商品指标
- 销售额
- 销量
- 件单价
- 客户数
- UV
- 转换率=客户数 / UV
- 库存
- 备货值=吊牌价 * 库存数
- 售卖比=又称售罄率，GMV / 备货值

In [28]:
# 转换率=客户数 / UV
product_400['转换率'] = product_400["购买用户数量"]/product_400["UV数"]
# 备货值=吊牌价 * 库存数
product_400["备货值"] = product_400["吊牌价"]*product_400["库存量"]
product_400.head()

<ipython-input-28-d7a28f7a6d03>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_400['转换率'] = product_400["购买用户数量"]/product_400["UV数"]
<ipython-input-28-d7a28f7a6d03>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_400["备货值"] = product_400["吊牌价"]*product_400["库存量"]

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,加购物车数,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,转换率,备货值
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,...,173,144,68112.0,31,14663.0,473.0,94,400及以上,0.003664,519995
5,A006,428,1493,0.286674,264,394152,233,0.455607,1,5805,...,161,143,61204.0,46,19688.0,428.0,90,400及以上,0.015504,394152
10,B001,426,1121,0.380018,479,536959,311,0.269953,1,20448,...,242,158,67308.0,43,18318.0,426.0,101,400及以上,0.004939,536959
13,B004,491,1394,0.352224,396,552024,353,0.281059,2,14535,...,211,160,78560.0,47,23077.0,491.0,102,400及以上,0.007018,552024
15,B006,484,1467,0.329925,296,434232,398,0.177686,2,3733,...,285,141,68244.0,48,23232.0,484.0,91,400及以上,0.024377,434232

In [29]:
# 售卖比=又称售罄率，GMV / 备货值
product_400["售卖比"] = product_400["商品销售金额"]/product_400["备货值"]
product_400.head()

<ipython-input-29-f8ec88fba7d6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_400["售卖比"] = product_400["商品销售金额"]/product_400["备货值"]

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,转换率,备货值,售卖比
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,...,144,68112.0,31,14663.0,473.0,94,400及以上,0.003664,519995,0.130986
5,A006,428,1493,0.286674,264,394152,233,0.455607,1,5805,...,143,61204.0,46,19688.0,428.0,90,400及以上,0.015504,394152,0.155280
10,B001,426,1121,0.380018,479,536959,311,0.269953,1,20448,...,158,67308.0,43,18318.0,426.0,101,400及以上,0.004939,536959,0.125350
13,B004,491,1394,0.352224,396,552024,353,0.281059,2,14535,...,160,78560.0,47,23077.0,491.0,102,400及以上,0.007018,552024,0.142313
15,B006,484,1467,0.329925,296,434232,398,0.177686,2,3733,...,141,68244.0,48,23232.0,484.0,91,400及以上,0.024377,434232,0.157160

In [30]:
product_400[["商品名","商品销售金额","商品销售数量","商品销售单价","购买用户数量","UV数",'转换率',"库存量","备货值","售卖比"]]

,商品名,商品销售金额,商品销售数量,商品销售单价,购买用户数量,UV数,转换率,库存量,备货值,售卖比
2,A003,68112.0,144,473.0,94,25657,0.003664,415,519995,0.130986
5,A006,61204.0,143,428.0,90,5805,0.015504,264,394152,0.155280
10,B001,67308.0,158,426.0,101,20448,0.004939,479,536959,0.125350
13,B004,78560.0,160,491.0,102,14535,0.007018,396,552024,0.142313
15,B006,68244.0,141,484.0,91,3733,0.024377,296,434232,0.157160
16,B007,110148.0,201,548.0,122,29492,0.004137,325,487175,0.226095
17,B008,65280.0,136,480.0,82,18574,0.004415,339,482058,0.135419
22,C003,70950.0,150,473.0,92,17244,0.005335,242,319682,0.221939
26,C007,70122.0,174,403.0,104,20754,0.005011,258,289476,0.242238
29,C010,87750.0,117,750.0,75,5044,0.014869,229,280754,0.312551
36,D007,76718.0,178,431.0,106,20943,0.005061,387,494973,0.154994
42,E003,59292.0,122,486.0,77,19094,0.004033,354,477546,0.124160
46,E007,143220.0,154,930.0,96,7264,0.013216,409,645402,0.221908
48,E009,62155.0,155,401.0,99,25477,0.003886,224,224896,0.276372
50,F001,106720.0,116,920.0,80,4630,0.017279,217,312046,0.342001
51,F002,70370.0,155,454.0,94,7366,0.012761,211,291813,0.241148
56,F007,73200.0,150,488.0,95,25320,0.003752,235,317485,0.230562
60,G001,65746.0,142,463.0,95,13011,0.007302,142,179772,0.365719
62,G003,111200.0,139,800.0,92,11500,0.008000,328,418200,0.265901
69,G010,104400.0,145,720.0,91,19119,0.004760,267,308652,0.338245
73,H004,163000.0,163,1000.0,98,10986,0.008920,174,255084,0.639005
75,H006,86620.0,122,710.0,82,10479,0.007825,324,267300,0.324055
76,H007,119250.0,159,750.0,103,4520,0.022788,223,267600,0.445628

优化方案：
- 转化率大于0.7%的商品，暂时保留，用于下次促销活动；
- 转化率小于0.7%的商品，但是售卖比大于36%的商品予以保留参加下次促销活动，
- 转化率小于0.7%的商品，并且售卖比小于36%的商品进行清仓处理。

In [31]:
# 挑选合格的商品：
# 1、保留商品：转化率大于0.7%的商品予以保留
stay_stocks571 = product_400[product_400["转换率"]>0.007]
stay_stocks571

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,转换率,备货值,售卖比
5,A006,428,1493,0.286674,264,394152,233,0.455607,1,5805,...,143,61204.0,46,19688.0,428.0,90,400及以上,0.015504,394152,0.155280
13,B004,491,1394,0.352224,396,552024,353,0.281059,2,14535,...,160,78560.0,47,23077.0,491.0,102,400及以上,0.007018,552024,0.142313
15,B006,484,1467,0.329925,296,434232,398,0.177686,2,3733,...,141,68244.0,48,23232.0,484.0,91,400及以上,0.024377,434232,0.157160
29,C010,750,1226,0.611746,229,280754,128,0.829333,1,5044,...,117,87750.0,43,32250.0,750.0,75,400及以上,0.014869,280754,0.312551
46,E007,930,1578,0.589354,409,645402,356,0.617204,1,7264,...,154,143220.0,47,43710.0,930.0,96,400及以上,0.013216,645402,0.221908
50,F001,920,1438,0.639777,217,312046,237,0.742391,1,4630,...,116,106720.0,40,36800.0,920.0,80,400及以上,0.017279,312046,0.342001
51,F002,454,1383,0.328272,211,291813,326,0.281938,2,7366,...,155,70370.0,57,25878.0,454.0,94,400及以上,0.012761,291813,0.241148
60,G001,463,1266,0.365719,142,179772,268,0.421166,2,13011,...,142,65746.0,46,21298.0,463.0,95,400及以上,0.007302,179772,0.365719
62,G003,800,1275,0.627451,328,418200,264,0.670000,2,11500,...,139,111200.0,46,36800.0,800.0,92,400及以上,0.008000,418200,0.265901
73,H004,1000,1466,0.682128,174,255084,347,0.653000,1,10986,...,163,163000.0,56,56000.0,1000.0,98,400及以上,0.008920,255084,0.639005
75,H006,710,825,0.860606,324,267300,203,0.714085,2,10479,...,122,86620.0,43,30530.0,710.0,82,400及以上,0.007825,267300,0.324055
76,H007,750,1200,0.625000,223,267600,267,0.644000,1,4520,...,159,119250.0,29,21750.0,750.0,103,400及以上,0.022788,267600,0.445628

In [32]:
# 挑选合格的商品：
# 2、保留商品：找出转化率小于0.7% 但是 售卖比大于36%的部分予以保留
stay_stocks573 = product_400[(product_400["售卖比"]>=0.36)&(product_400["转换率"]<0.007)]
stay_stocks573

Empty DataFrame
Columns: [商品名, 售卖价, 吊牌价, 折扣率, 库存量, 货值, 成本价, 利润率, SKU, UV数, 收藏数, 加购物车数, 商品销售数量, 商品销售金额, 退货件数, 商品退货金额, 商品销售单价, 购买用户数量, 价格分组, 转换率, 备货值, 售卖比]
Index: []

[0 rows x 22 columns]

In [33]:
# 3、清仓处理商品，找出转化率小于0.7%并且售卖比小于36%的部分
stay_stocks574 = product_400[(product_400["售卖比"]<0.36)&(product_400["转换率"]<0.007)]
stay_stocks574

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,转换率,备货值,售卖比
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,...,144,68112.0,31,14663.0,473.0,94,400及以上,0.003664,519995,0.130986
10,B001,426,1121,0.380018,479,536959,311,0.269953,1,20448,...,158,67308.0,43,18318.0,426.0,101,400及以上,0.004939,536959,0.125350
16,B007,548,1499,0.365577,325,487175,420,0.233577,2,29492,...,201,110148.0,66,36168.0,548.0,122,400及以上,0.004137,487175,0.226095
17,B008,480,1422,0.337553,339,482058,302,0.370833,2,18574,...,136,65280.0,39,18720.0,480.0,82,400及以上,0.004415,482058,0.135419
22,C003,473,1321,0.358062,242,319682,254,0.463002,2,17244,...,150,70950.0,44,20812.0,473.0,92,400及以上,0.005335,319682,0.221939
26,C007,403,1122,0.359180,258,289476,167,0.585608,2,20754,...,174,70122.0,47,18941.0,403.0,104,400及以上,0.005011,289476,0.242238
36,D007,431,1279,0.336982,387,494973,356,0.174014,1,20943,...,178,76718.0,60,25860.0,431.0,106,400及以上,0.005061,494973,0.154994
42,E003,486,1349,0.360267,354,477546,220,0.547325,2,19094,...,122,59292.0,43,20898.0,486.0,77,400及以上,0.004033,477546,0.124160
48,E009,401,1004,0.399402,224,224896,268,0.331671,2,25477,...,155,62155.0,50,20050.0,401.0,99,400及以上,0.003886,224896,0.276372
56,F007,488,1351,0.361214,235,317485,402,0.176230,2,25320,...,150,73200.0,34,16592.0,488.0,95,400及以上,0.003752,317485,0.230562
69,G010,720,1156,0.622837,267,308652,152,0.788889,1,19119,...,145,104400.0,42,30240.0,720.0,91,400及以上,0.004760,308652,0.338245

#### 三、从折扣区间来优化商品结构
同样地，我们选择0.35-0.4折扣区间进行深入探究。dt_product_discount_info表中，我们可以得到0.35-0.4折扣区间的售卖比为16.90%，转化率为0.53%，折扣率为37%，在进行商品结构优化的时候要着重对比这几个指标。

In [34]:
dt_product_sales.head()

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,收藏数,加购物车数,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组
0,A001,15,70,0.214286,501,35070,14,0.066667,2,10926,48,372,185,2775.0,59,885.0,15.0,116,1_200
1,A002,236,610,0.386885,423,258030,75,0.682203,1,13124,84,193,146,34456.0,31,7316.0,236.0,87,200_400
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,45,173,144,68112.0,31,14663.0,473.0,94,400及以上
3,A004,320,835,0.383234,624,521040,279,0.128125,2,20833,5,273,172,55040.0,56,17920.0,320.0,111,200_400
4,A005,15,82,0.182927,179,14678,27,-0.800000,1,19371,71,356,122,1830.0,32,480.0,15.0,81,1_200

In [35]:
# 划分价格区间段
#设置切分区域
listBins = [0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6, 0.65, 0.7, 1]

#设置切分后对应标签
listLabels = ['0.15_0.2','0.2_0.25','0.25_0.3','0.3_0.35','0.35_0.4','0.4_0.45','0.45_0.5','0.5_0.55','0.55_0.6','0.6_0.65','0.65_0.7','0.7_1']

#利用pd.cut进行数据离散化切分，注意分组标签和分组数要一致
"""
pandas.cut(x,bins,right=True,labels=None,retbins=False,precision=3,include_lowest=False)
x:需要切分的数据
bins:切分区域
right : 是否包含右端点默认True，包含
labels:对应标签，用标记来代替返回的bins，若不在该序列中，则返回NaN
retbins:是否返回间距bins
precision:精度
include_lowest:是否包含左端点，默认False，不包含
"""
dt_product_sales['折扣区间'] = pd.cut(dt_product['折扣率'], bins=listBins, labels=listLabels, include_lowest=True)
dt_product_sales.head()

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,收藏数,加购物车数,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,折扣区间
0,A001,15,70,0.214286,501,35070,14,0.066667,2,10926,48,372,185,2775.0,59,885.0,15.0,116,1_200,0.2_0.25
1,A002,236,610,0.386885,423,258030,75,0.682203,1,13124,84,193,146,34456.0,31,7316.0,236.0,87,200_400,0.35_0.4
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,45,173,144,68112.0,31,14663.0,473.0,94,400及以上,0.35_0.4
3,A004,320,835,0.383234,624,521040,279,0.128125,2,20833,5,273,172,55040.0,56,17920.0,320.0,111,200_400,0.35_0.4
4,A005,15,82,0.182927,179,14678,27,-0.800000,1,19371,71,356,122,1830.0,32,480.0,15.0,81,1_200,0.15_0.2

#### 折扣区间销售情况统计
- 价格区间
- 货值
- 货值占比
- 销售额
- 售卖比
- 销售占比
- 销量
- 客单价
- UV
- 收藏数
- 加购数
- 转化率

In [36]:
# 货值占比、销售占比、客单价、转化率  后面求
dt_product_discount_info = dt_product_sales.groupby("折扣区间").agg({
                                        "货值":"sum",
                                        "商品销售金额":"sum",
                                        "商品销售数量":"sum",
                                        "UV数":"sum",
                                        "购买用户数量":"sum",
                                        "收藏数":"sum",
                                        "加购物车数":"sum"
                                        }).reset_index()
dt_product_discount_info

        折扣区间       货值     商品销售金额  商品销售数量     UV数  购买用户数量   收藏数  加购物车数
0   0.15_0.2    14678     1830.0     122   19371      81    71    356
1   0.2_0.25   597376   106944.0    1052   67808     634   520   1505
2   0.25_0.3   546516    79924.0     725   66471     462   538    971
3   0.3_0.35  2553886   382794.0    1065   87609     660   536   1530
4   0.35_0.4  8105784  1369758.0    3696  443317    2341  2046   5884
5   0.4_0.45  2098352   453179.0    1988  184205    1258   845   3428
6   0.45_0.5  1869262   311158.0    1452  138194     934   683   1996
7   0.5_0.55   112395    38024.0     196   26088     124    25     84
8   0.55_0.6   645402   143220.0     154    7264      96    78    388
9   0.6_0.65  1785946   590706.0    1144   98210     735   630   1795
10  0.65_0.7   319498   183010.0     301   27087     185   169    690
11     0.7_1   267300    86620.0     122   10479      82    83     63

In [37]:
# 货值占比、销售占比、客单价、转化率  后面求
dt_product_discount_info["货值占比"]=dt_product_discount_info["货值"]/dt_product_discount_info["货值"].sum()
dt_product_discount_info["销售占比"]=dt_product_discount_info["商品销售金额"]/dt_product_discount_info["商品销售金额"].sum()
dt_product_discount_info["客单价"]=dt_product_discount_info["商品销售金额"]/dt_product_discount_info["购买用户数量"]
dt_product_discount_info["转化率"]=dt_product_discount_info["购买用户数量"]/dt_product_discount_info["UV数"]

dt_product_discount_info

,折扣区间,货值,商品销售金额,商品销售数量,UV数,购买用户数量,收藏数,加购物车数,货值占比,销售占比,客单价,转化率
0,0.15_0.2,14678,1830.0,122,19371,81,71,356,0.000776,0.000488,22.592593,0.004182
1,0.2_0.25,597376,106944.0,1052,67808,634,520,1505,0.031580,0.028540,168.681388,0.009350
2,0.25_0.3,546516,79924.0,725,66471,462,538,971,0.028891,0.021329,172.995671,0.006950
3,0.3_0.35,2553886,382794.0,1065,87609,660,536,1530,0.135009,0.102156,579.990909,0.007533
4,0.35_0.4,8105784,1369758.0,3696,443317,2341,2046,5884,0.428506,0.365545,585.116617,0.005281
5,0.4_0.45,2098352,453179.0,1988,184205,1258,845,3428,0.110928,0.120939,360.237679,0.006829
6,0.45_0.5,1869262,311158.0,1452,138194,934,683,1996,0.098817,0.083038,333.145610,0.006759
7,0.5_0.55,112395,38024.0,196,26088,124,25,84,0.005942,0.010147,306.645161,0.004753
8,0.55_0.6,645402,143220.0,154,7264,96,78,388,0.034119,0.038221,1491.875000,0.013216
9,0.6_0.65,1785946,590706.0,1144,98210,735,630,1795,0.094413,0.157641,803.681633,0.007484
10,0.65_0.7,319498,183010.0,301,27087,185,169,690,0.016890,0.048840,989.243243,0.006830
11,0.7_1,267300,86620.0,122,10479,82,83,63,0.014131,0.023116,1056.341463,0.007825

In [38]:
# 取出0.35-0.4价格区间的数据内容
product_354 = dt_product_sales[dt_product_sales["折扣区间"]=='0.35_0.4']
product_354.head()

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,收藏数,加购物车数,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,折扣区间
1,A002,236,610,0.386885,423,258030,75,0.682203,1,13124,84,193,146,34456.0,31,7316.0,236.0,87,200_400,0.35_0.4
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,45,173,144,68112.0,31,14663.0,473.0,94,400及以上,0.35_0.4
3,A004,320,835,0.383234,624,521040,279,0.128125,2,20833,5,273,172,55040.0,56,17920.0,320.0,111,200_400,0.35_0.4
10,B001,426,1121,0.380018,479,536959,311,0.269953,1,20448,6,242,158,67308.0,43,18318.0,426.0,101,400及以上,0.35_0.4
12,B003,288,746,0.386059,439,327494,109,0.621528,1,23170,111,299,151,43488.0,44,12672.0,288.0,89,200_400,0.35_0.4

##### 计算商品指标
- 销售额
- 销量
- 件单价
- 客户数
- UV
- 转换率=客户数 / UV
- 库存
- 货值=吊牌价 * 库存数
- 售卖比=又称售罄率，GMV / 备货值

In [39]:
# 转换率=客户数 / UV
product_354['转换率'] = product_354["购买用户数量"]/product_354["UV数"]
# 备货值=吊牌价 * 库存数
product_354["备货值"] = product_354["吊牌价"]*product_354["库存量"]
product_354.head()

<ipython-input-39-34aec8ecbbfa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_354['转换率'] = product_354["购买用户数量"]/product_354["UV数"]
<ipython-input-39-34aec8ecbbfa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_354["备货值"] = product_354["吊牌价"]*product_354["库存量"]

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,商品销售数量,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,折扣区间,转换率,备货值
1,A002,236,610,0.386885,423,258030,75,0.682203,1,13124,...,146,34456.0,31,7316.0,236.0,87,200_400,0.35_0.4,0.006629,258030
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,...,144,68112.0,31,14663.0,473.0,94,400及以上,0.35_0.4,0.003664,519995
3,A004,320,835,0.383234,624,521040,279,0.128125,2,20833,...,172,55040.0,56,17920.0,320.0,111,200_400,0.35_0.4,0.005328,521040
10,B001,426,1121,0.380018,479,536959,311,0.269953,1,20448,...,158,67308.0,43,18318.0,426.0,101,400及以上,0.35_0.4,0.004939,536959
12,B003,288,746,0.386059,439,327494,109,0.621528,1,23170,...,151,43488.0,44,12672.0,288.0,89,200_400,0.35_0.4,0.003841,327494

In [40]:
# 售卖比=又称售罄率，GMV / 备货值
product_354["售卖比"] = product_354["商品销售金额"]/product_354["备货值"]
product_354.head()

<ipython-input-40-192eb4fd2f37>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_354["售卖比"] = product_354["商品销售金额"]/product_354["备货值"]

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,折扣区间,转换率,备货值,售卖比
1,A002,236,610,0.386885,423,258030,75,0.682203,1,13124,...,34456.0,31,7316.0,236.0,87,200_400,0.35_0.4,0.006629,258030,0.133535
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,...,68112.0,31,14663.0,473.0,94,400及以上,0.35_0.4,0.003664,519995,0.130986
3,A004,320,835,0.383234,624,521040,279,0.128125,2,20833,...,55040.0,56,17920.0,320.0,111,200_400,0.35_0.4,0.005328,521040,0.105635
10,B001,426,1121,0.380018,479,536959,311,0.269953,1,20448,...,67308.0,43,18318.0,426.0,101,400及以上,0.35_0.4,0.004939,536959,0.125350
12,B003,288,746,0.386059,439,327494,109,0.621528,1,23170,...,43488.0,44,12672.0,288.0,89,200_400,0.35_0.4,0.003841,327494,0.132790

In [41]:
product_354[["商品名","商品销售金额","商品销售数量","商品销售单价","购买用户数量","UV数","库存量","备货值","折扣率","售卖比",'转换率']]

,商品名,商品销售金额,商品销售数量,商品销售单价,购买用户数量,UV数,库存量,备货值,折扣率,售卖比,转换率
1,A002,34456.0,146,236.0,87,13124,423,258030,0.386885,0.133535,0.006629
2,A003,68112.0,144,473.0,94,25657,415,519995,0.377494,0.130986,0.003664
3,A004,55040.0,172,320.0,111,20833,624,521040,0.383234,0.105635,0.005328
10,B001,67308.0,158,426.0,101,20448,479,536959,0.380018,0.125350,0.004939
12,B003,43488.0,151,288.0,89,23170,439,327494,0.386059,0.132790,0.003841
13,B004,78560.0,160,491.0,102,14535,396,552024,0.352224,0.142313,0.007018
16,B007,110148.0,201,548.0,122,29492,325,487175,0.365577,0.226095,0.004137
19,B010,46800.0,120,390.0,82,7934,188,186496,0.393145,0.250944,0.010335
21,C002,29748.0,148,201.0,97,7835,287,158711,0.363472,0.187435,0.012380
22,C003,70950.0,150,473.0,92,17244,242,319682,0.358062,0.221939,0.005335
24,C005,39690.0,147,270.0,92,12610,178,136170,0.352941,0.291474,0.007296
26,C007,70122.0,174,403.0,104,20754,258,289476,0.359180,0.242238,0.005011
30,D001,45672.0,132,346.0,90,24418,239,227289,0.363828,0.200942,0.003686
32,D003,29143.0,151,193.0,91,27367,417,222261,0.362101,0.131121,0.003325
37,D008,42160.0,124,340.0,84,6236,287,262892,0.371179,0.160370,0.013470
41,E002,59906.0,154,389.0,94,24150,629,679320,0.360185,0.088185,0.003892
42,E003,59292.0,122,486.0,77,19094,354,477546,0.360267,0.124160,0.004033
48,E009,62155.0,155,401.0,99,25477,224,224896,0.399402,0.276372,0.003886
54,F005,39546.0,117,338.0,77,18817,179,171303,0.353187,0.230854,0.004092
56,F007,73200.0,150,488.0,95,25320,235,317485,0.361214,0.230562,0.003752
60,G001,65746.0,142,463.0,95,13011,142,179772,0.365719,0.365719,0.007302
63,G004,57624.0,147,392.0,90,15356,479,498160,0.376923,0.115674,0.005861
64,G005,31603.0,143,221.0,92,4334,147,86436,0.375850,0.365623,0.021228
70,H001,44253.0,149,297.0,92,6856,338,255190,0.393377,0.173412,0.013419
77,H008,45036.0,139,324.0,92,19245,237,209982,0.365688,0.214476,0.004780

优化结果：
- 折扣率**大于37%**的部分找出售卖比大于36.5%且转化率大于0.7%的商品予以保留，其余进行清仓处理；

- 折扣率**小于37%**的部分找出售卖比大于36.5%且转化率大于0.7%的部分予以保留，其余进行清仓处理。

In [42]:
# 挑选合格的商品：
# 1、保留商品：折扣率大于37%的部分找出售卖比大于36.5%且转化率大于0.7%的商品予以保留
stay_stocks1 = product_354[(product_354["折扣率"]>0.37)&(product_354["售卖比"]>0.365)&(product_354["转换率"]>0.007)]
stay_stocks1

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,折扣区间,转换率,备货值,售卖比
64,G005,221,588,0.37585,147,86436,106,0.520362,2,4334,...,31603.0,43,9503.0,221.0,92,200_400,0.35_0.4,0.021228,86436,0.365623

In [43]:
# 2、清仓处理商品，不满足条件的：折扣率大于37%的部分找出售卖比小于36.5%或转化率小于0.7%的商品
# 取反即可
stay_stocks2 = product_354[(product_354["折扣率"]>=0.37)&((product_354["售卖比"]<=0.365)|(product_354["转换率"]<=0.007))] #
stay_stocks2

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,折扣区间,转换率,备货值,售卖比
1,A002,236,610,0.386885,423,258030,75,0.682203,1,13124,...,34456.0,31,7316.0,236.0,87,200_400,0.35_0.4,0.006629,258030,0.133535
2,A003,473,1253,0.377494,415,519995,394,0.167019,1,25657,...,68112.0,31,14663.0,473.0,94,400及以上,0.35_0.4,0.003664,519995,0.130986
3,A004,320,835,0.383234,624,521040,279,0.128125,2,20833,...,55040.0,56,17920.0,320.0,111,200_400,0.35_0.4,0.005328,521040,0.105635
10,B001,426,1121,0.380018,479,536959,311,0.269953,1,20448,...,67308.0,43,18318.0,426.0,101,400及以上,0.35_0.4,0.004939,536959,0.125350
12,B003,288,746,0.386059,439,327494,109,0.621528,1,23170,...,43488.0,44,12672.0,288.0,89,200_400,0.35_0.4,0.003841,327494,0.132790
19,B010,390,992,0.393145,188,186496,265,0.320513,2,7934,...,46800.0,43,16770.0,390.0,82,200_400,0.35_0.4,0.010335,186496,0.250944
37,D008,340,916,0.371179,287,262892,204,0.400000,2,6236,...,42160.0,36,12240.0,340.0,84,200_400,0.35_0.4,0.013470,262892,0.160370
48,E009,401,1004,0.399402,224,224896,268,0.331671,2,25477,...,62155.0,50,20050.0,401.0,99,400及以上,0.35_0.4,0.003886,224896,0.276372
63,G004,392,1040,0.376923,479,498160,234,0.403061,2,15356,...,57624.0,50,19600.0,392.0,90,200_400,0.35_0.4,0.005861,498160,0.115674
70,H001,297,755,0.393377,338,255190,166,0.441077,1,6856,...,44253.0,42,12474.0,297.0,92,200_400,0.35_0.4,0.013419,255190,0.173412

In [44]:
# 挑选合格的商品：
# 3、保留商品：在折扣率小于37%的部分找出售卖比大于36.5%且转化率大于0.7%的部分予以保留
stay_stocks3 = product_354[(product_354["折扣率"]<=0.37)&(product_354["转换率"]>0.007)&(product_354["售卖比"]>0.365)] 
stay_stocks3

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,折扣区间,转换率,备货值,售卖比
60,G001,463,1266,0.365719,142,179772,268,0.421166,2,13011,...,65746.0,46,21298.0,463.0,95,400及以上,0.35_0.4,0.007302,179772,0.365719

In [45]:
# 4、清仓处理商品，不满足此条件的：在折扣率小于37%的部分找出售卖比小于36.5%或转化率小于0.7%的部分
# 取反即可
stay_stocks4 = product_354[((product_354["折扣率"]<0.37) & ((product_354["售卖比"]<0.365)|(product_354["转换率"]<0.007)))]
stay_stocks4

,商品名,售卖价,吊牌价,折扣率,库存量,货值,成本价,利润率,SKU,UV数,...,商品销售金额,退货件数,商品退货金额,商品销售单价,购买用户数量,价格分组,折扣区间,转换率,备货值,售卖比
13,B004,491,1394,0.352224,396,552024,353,0.281059,2,14535,...,78560.0,47,23077.0,491.0,102,400及以上,0.35_0.4,0.007018,552024,0.142313
16,B007,548,1499,0.365577,325,487175,420,0.233577,2,29492,...,110148.0,66,36168.0,548.0,122,400及以上,0.35_0.4,0.004137,487175,0.226095
21,C002,201,553,0.363472,287,158711,105,0.477612,1,7835,...,29748.0,43,8643.0,201.0,97,200_400,0.35_0.4,0.012380,158711,0.187435
22,C003,473,1321,0.358062,242,319682,254,0.463002,2,17244,...,70950.0,44,20812.0,473.0,92,400及以上,0.35_0.4,0.005335,319682,0.221939
24,C005,270,765,0.352941,178,136170,115,0.574074,2,12610,...,39690.0,35,9450.0,270.0,92,200_400,0.35_0.4,0.007296,136170,0.291474
26,C007,403,1122,0.359180,258,289476,167,0.585608,2,20754,...,70122.0,47,18941.0,403.0,104,400及以上,0.35_0.4,0.005011,289476,0.242238
30,D001,346,951,0.363828,239,227289,269,0.222543,1,24418,...,45672.0,37,12802.0,346.0,90,200_400,0.35_0.4,0.003686,227289,0.200942
32,D003,193,533,0.362101,417,222261,165,0.145078,1,27367,...,29143.0,49,9457.0,193.0,91,1_200,0.35_0.4,0.003325,222261,0.131121
41,E002,389,1080,0.360185,629,679320,244,0.372751,2,24150,...,59906.0,36,14004.0,389.0,94,200_400,0.35_0.4,0.003892,679320,0.088185
42,E003,486,1349,0.360267,354,477546,220,0.547325,2,19094,...,59292.0,43,20898.0,486.0,77,400及以上,0.35_0.4,0.004033,477546,0.124160
54,F005,338,957,0.353187,179,171303,206,0.390533,1,18817,...,39546.0,32,10816.0,338.0,77,200_400,0.35_0.4,0.004092,171303,0.230854
56,F007,488,1351,0.361214,235,317485,402,0.176230,2,25320,...,73200.0,34,16592.0,488.0,95,400及以上,0.35_0.4,0.003752,317485,0.230562
77,H008,324,886,0.365688,237,209982,157,0.515432,1,19245,...,45036.0,40,12960.0,324.0,92,200_400,0.35_0.4,0.004780,209982,0.214476

优化结果：
- 折扣率**大于37%**的部分找出售卖比大于36.5%且转化率大于0.7%的商品予以保留，其余进行清仓处理；

- 折扣率**小于37%**的部分找出售卖比大于36.5%且转化率大于0.7%的部分予以保留，其余进行清仓处理。

** 四、流量分布 **

在一级入口中，首页的流量占比最高，我们可以将畅销款布局在首页档期流。在唯品会中，我们需要不断的增加商品来保证我们的SKU数，对于新增的商品我们也会增加在其中。对于平销款，我们将其作为快抢和疯抢处理。